@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.ProjectsPage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Cms.Core.Models.PublishedContent;


@{

    

	var selection = Umbraco.Content(Guid.Parse("086e62c9-7eee-4a53-acf3-441d84564f52"))
    .ChildrenOfType("singleProjectPage")
    .Where(x => x.IsVisible())
    .OrderByDescending(x => x.CreateDate);
    
    
    
}


<div class="container mt-5 projects-container">
    <div class="container businesses-container">
                
        <div class="row d-flex justify-content-center">

        	@foreach (var item in selection)
        	{
        	    
                            var url = item.Url();
                            var date = item.CreateDate;
                            var image = item.Value<IPublishedContent>("projectsImage");
                            var category = item.Value("projectsCategory");
                            var title = item.Name();
                            var preamble = item.Value("projectsPreamble");
                            
                            <div class="col-6 col-md-5 info-container">
                                <a href="@url" style="color: inherit; text-decoration: none;">
                                    <img src="@image?.Url()" alt="">
                                    <h5>@title</h5>
                                    <hr>
                                    <div class="d-flex justify-content-end mb-3">
                                        <a>Read More<i class="fa fa-arrow-up-right"></i></a>
                                    </div>
                                 </a>
                            </div>
                           
        	}
                
            
    
    
        </div>
    </div>    
    <div class="row">
        <div class="col-12 d-flex justify-content-center mt-5 mb-5">
            <a href="#" class="btn-black">All Recent Projects <i class="fa fa-arrow-up-right"
                    style="color:white;"></i></a>
        </div>
    </div>
</div>