@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage


    <!-- Article & News section -->

    <section class="article-news-section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <p style="color: red;">Article & News</p>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-8">
                    <h2>Get Every Single Articles & News</h2>
                </div>
                <div class="col-12 col-md-4 d-flex justify-content-end">
                    <a href="#" class="btn-transparent">Browse Articles <i class="fa fa-arrow-up-right"></i></a>
                </div>
            </div>
            <div class="row d-flex justify-content-between mt-5">
                <div class="col-12 col-md-3 news-holder">
                    <img src="/images/linkedin-sales-solutions-Mis5fyJi7Q0-unsplash.jpg" alt="">
                    <p class="business-paragraph">Business</p>
                    <h6>How To Use Digitalization</h6>
                    <h6>In The Classroom</h6>
                    <p class="news-info-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio, veniam
                        possimus.</p>
                </div>
                <div class="col-12 col-md-3 news-holder">
                    <img src="/images/emiliano-vittoriosi-vEN1bsdSjxM-unsplash.jpg" alt="">
                    <p class="business-paragraph">Business</p>
                    <h6>How To Implement ChatGPT</h6>
                    <h6>In Your Projects</h6>
                    <p class="news-info-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias,
                        praesentium voluptate!</p>
                </div>
                <div class="col-12 col-md-3 news-holder">
                    <img src="/images/kobu-agency-ipARHaxETRk-unsplash.jpg" alt="">
                    <p class="business-paragraph">Business</p>
                    <h6>The Guide To Support</h6>
                    <h6>Modern CSS Design</h6>
                    <p class="news-info-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt, neque
                        et?</p>
                </div>
            </div>
        </div>

    </section>
