@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using Umbraco.Cms.Core.Routing
@using Umbraco.Extensions

@inject IPublishedUrlProvider PublishedUrlProvider


@{ var selection = Model.Ancestors().ToArray(); }


    <!-- Hero Section -->
    <section class="hero-section">
        <img class="background-lines" src="~/static/background-effects/background-lines.svg" alt="">
        <div class="container hero-container">
            <div class="col-12 home-link-container">
                
                @foreach (var item in selection.OrderBy(x => x.Level))
                {
                    <a href="@item.Url(PublishedUrlProvider)">@item.Name</a>
                }
            
                <a href="">@Model.Name</a>
            </div>
            <div class="col-12 heading-container">
                <h2>@ViewData["PageTitle"]</h2>
            </div>
        </div>

    </section>

    <!-- Hero Section End -->