@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage


    <!-- Footer Section -->

    <footer class="footer-section">
        <div class="footer-container">
            <div class="row footer-row-first">
                <div class="col-12 col-md-2 logo-text">
                    <img src="~/static/logotypes/logotype-white.svg" alt="">
                    <p class="footer-info-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga ab
                        quidem minima, quisquam molestias odit accusantium dolore corrupti sunt temporibus!</p>
                </div>
                <div class="col-6 col-md-2 footer-links">
                    <h6>Company</h6>
                    <a href="/about">About</a>
                    <a href="/features">Features</a>
                    <a href="/work">Works</a>
                    <a href="/career">Carreer</a>
                </div>
                <div class="col-6 col-md-2 footer-links">
                    <h6>Help</h6>
                    <a href="/support">Customer Support</a>
                    <a href="/delivery">Delivery Details</a>
                    <a href="/agreements/terms">Terms & Conditions</a>
                    <a href="/agreements/privacy">Privacy Policy</a>
                </div>
                <div class="col-6 col-md-2 footer-links">
                    <h6>Resources</h6>
                    <a href="/free/ebok">Free eBooks</a>
                    <a href="/tutorials/development">Development Tutorial</a>
                    <a href="/guides/how-to-blog">How To - Blog</a>
                    <a href="https://youtube.com" target="_blank">Youtube Playlist</a>
                </div>
                <div class="col-6 col-md-2 footer-links">
                    <h6>Link</h6>
                    <a href="/free/ebok">Free eBooks</a>
                    <a href="/tutorials/development">Development Tutorial</a>
                    <a href="/guides/how-to-blog">How To - Blog</a>
                    <a href="https://youtube.com" target="_blank">Youtube Playlist</a>
                </div>
            </div>
            <hr>
        </div>
        <div class="container footer-container-second">
            <div class="row footer-row-second">
                <div class="col-10 all-rights-container">
                    <p>@DateTime.Now.Year Crito - Consulting Company Inc. All Rights Reserved.</p>
                </div>
                <div class="col-1 social-media-holder">
                    <a href="https://facebook.com" target="_blank"><i class="fa fa-facebook social-media-icons"></i></a>
                    <a href="https://twitter.com" target="_blank"><i class="fa fa-twitter social-media-icons"></i></a>
                    <a href="https://instagram.com" target="_blank"><i class="fa fa-instagram social-media-icons"></i></a>
                    <a href="https://linkedin.com" target="_blank"><i class="fa fa-linkedin social-media-icons"></i></a>
                </div>
            </div>
        </div>

    </footer>


    <!-- Footer Section end -->