@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

    <header>


        <section class="nav-section">
            <div class="container-fluid p-0 d-flex">
                <div class="col-md-2 justify-content-end">
                    <img class="header-logo" src="~/static/logotypes/Logotype.svg" alt="logo"></img>
                </div>
                <div class="col-md-10">
                    <nav>
                        <div class="row first-row">
                            <div class="col-12 col-md-10 company-info d-flex">
                                <span class="borderclass"><i class="fa-regular fa-phone-volume"></i>+46 (8) 121 470
                                    50</span>
                                <span class="borderclass"><i class="fa-regular fa-envelope"></i>info@crito.com</span>
                                <span><i class="fa-sharp fa-regular fa-location-dot"></i>Sveavägen 31, 111 34
                                    Stockholm</span>
                            </div>
                            <div class="col-12 col-md-2 social-media">
                                <a href="#"><i class="fa-brands fa-facebook"></i></a>
                                <a href="#"><i class="fa-brands fa-twitter"></i></a>
                                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                                <a href="#"><i class="fa-brands fa-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="row second-row">
                            <div class="col-8 col-md-10 navbar">
                                <a href="homepage.html" class="active">Home</a>
                                <a href="homepage.html">Service</a>
                                <a href="homepage.html">News</a>
                                <a href="homepage.html">Contact</a>
                            </div>
                            <div class="col-4 col-md-2 button-container">
                                <a href="login.html" class="btn-theme">Login <i
                                        class="fa-solid fa-arrow-up-right"></i></a>
                            </div>

                        </div>
                    </nav>
                </div>
            </div>
        </section>

    </header>