@using cms_submission.Models;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

@{
    var newsLetterForm = new cms_submission.Models.NewsLetterForm();
}

    <!-- Newsletter Section -->
    <section class="newsletter-section">
        <div class="container newsletter">
            <div class="col-12 col-md-7 d-flex">
                <h2>Get News Updates By Signup</h2>
            </div>
            <div class="col-12 col-md-4 inputholder">
            @using (Html.BeginUmbracoForm("Index", "NewsLetter", FormMethod.Post))
            {
            <div asp-validation-summary="All"></div>
            <input asp-for="@newsLetterForm.Email" type="text" placeholder="username@domain.com">
            <button type="submit" class="btn-theme subscribebtn"> Subscribe <i class="fa fa-arrow-up-right"></i></button>
            }
            </div>
        </div>
    </section>

    <!-- Newsletter Section End -->