@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage


 <section class="services-section">

        <div class="container services-container">
            <div class="row">
                <p class="services-small-heading">Our services</p>
            </div>
            <div class="row">
                <h2 class="services-heading">We Provide The Best</h2>
                <h2 class="services-heading">Service For Consulting</h2>
            </div>
            <div class="row boxes-row">
                <div class="col-6 col-md-2 business-box">
                    <hr>
                    <div class="mt-4 p-2">
                        <h4>Business Advice</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus beatae quidem suscipit?
                        </p>
                    </div>
                    <div class="d-flex justify-content-end mt-2">
                        <i class="fa fa-arrow-right"></i>
                    </div>
                </div>
                <div class="col-6 col-md-2 business-box-active">
                    <hr>
                    <div class="mt-4 p-2">
                        <h4>Startup Business</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus beatae quidem suscipit?
                        </p>
                    </div>
                    <div class="d-flex justify-content-end mt-2">
                        <i class="fa fa-arrow-right"></i>
                    </div>
                </div>
                <div class="col-6 col-md-2 business-box">
                    <hr>
                    <div class="mt-4 p-2">
                        <h4>Financial Advice</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus beatae quidem suscipit?
                        </p>
                    </div>
                    <div class="d-flex justify-content-end mt-2">
                        <i class="fa fa-arrow-right"></i>
                    </div>
                </div>
                <div class="col-6 col-md-2 business-box-right">
                    <hr>
                    <div class="mt-4 p-2">
                        <h4>Risk Management</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus beatae quidem suscipit?
                        </p>
                    </div>
                    <div class="d-flex justify-content-end mt-2">
                        <i class="fa fa-arrow-right"></i>
                    </div>
                </div>
            </div>
            <div class="col-12 d-flex justify-content-center mt-3">
                <a href="#" class="btn-transparent">Browse Services <i class="fa fa-arrow-up-right"></i></a>
            </div>


        </div>

    </section>

    <!-- Services section end -->